# Godot 4+ specific ignores
.godot/
/android/
*.translation

# Temporary files from renames.
*.tmp

# Ignore .ign files for local notes and organization.
*.ign
docs/unused_ignore/

# Import directory and metadata files.
.import/
*.import

# C sharp:
nupkg/
bin/
obj/
.generated/

# VSCode:
.vs/

# Other directories
archive/
web/

# Mac OS:
.DS_Store

# Blender:
*.blend1
